// mixin input 
// +input-block({label: "", name: "", inputDescription: "", type: "", placeholder: "", id: "", name-modifier(specify modifier name): "true"})

mixin input-block(options)
  -var blockClassName = "input-block"
  -var labelClassName = "input-block__label"
  -var descriptionClassName = "input-block__description"
  -var fieldContainerClassName = "input-block__field-container"
  -var fieldClassName = "input-block__field"
  -fieldClassName += options.hoverFocus ? " input-block__field_hover-focus" : ""
  -fieldContainerClassName += options.hoverFocus ? " input-block__field-container_hover-focus" : ""
  -descriptionClassName += options.hoverFocus ? " input-block__description_hover-focus" : ""
  -fieldClassName += options.date ? " input-block__field_date" : ""
  -blockClassName += options.hoverFocus ? " input-block_hover-focus" : ""
  -blockClassName += options.date ? " input-block__date" : ""
  //-titleClassName += options.name-modifier ? " input-block__title_modifier-class-name" : ""
  div(class=blockClassName)
    label(class=labelClassName for=options.id)= options.label
    div(class=descriptionClassName)= options.inputDescription
    div(class=fieldContainerClassName)
      input(class=fieldClassName id=options.id)(name=options.name, type=options.type, placeholder=options.placeholder)