// mixin dropdown-form
// +dropdown-form({title: "", description: "", content: "", name-modifier(specify modifier name): "true"})

mixin dropdown-form(options)
  -var dropdownFormClassName = "dropdown-form"
  -var formTitleClassName = "dropdown-form__title"
  -var formDescriptionClassName = "dropdown-form__description"
  -var formFieldContainerClassName = "dropdown-form__field-container"
  -var formСontentClassName = "dropdown-form__content"
  -var formIconClassName = "dropdown-form__icon"
  -dropdownFormClassName += options.date ? " dropdown-form_date" : ""
  -formIconClassName += options.date ? " dropdown-form__icon_date" : ""
  -formIconClassName += options.filterDate ? " dropdown-form__icon_filter-date" : ""
  -dropdownFormClassName += options.filterDate ? " dropdown-form_filter-date" : ""
  -dropdownFormClassName += options.subscription ? " dropdown-form_subscription" : ""
  -formIconClassName += options.subscription ? " dropdown-form__icon_subscription" : ""
  -formСontentClassName += options.subscription ? " dropdown-form__content_subscription" : ""
  div(class=dropdownFormClassName)
    div(class=formTitleClassName)= options.title
    div(class=formDescriptionClassName)= options.description
    div(class=formFieldContainerClassName)
      div(class=formСontentClassName)=options.content
      if options.subscription=="true"
        div(class=formIconClassName) arrow_forward
      else if options.subscription!="true"
        div(class=formIconClassName) expand_more